nav {
	height: 2ex;

	ul {
		position: fixed;
		top: 0px;
		width: 100%;
		margin: 0;
		border-bottom: 1px solid blue;
	}

	li {
		display: inline-block;
		width: 10em;
		list-style-type: none;
	}
}

@mixin board-size($square) {
	$board-borders: 6;
	.board {
		width: 3*$square + $board-borders;
	}
	.square {
		width: $square;
		height: $square;
	}
}

@include board-size(60px);

@media (min-width:350px) and (min-height:500px) {
	@include board-size(100px);
}

@media (min-width:650px) and (min-height:750px) {
	@include board-size(200px);
}

.board {
	border: 3px solid black;

	.square {
		border: 1px solid black;
	}
}

.square {
	display: inline-block;
	background-size: 100%;

	&.player1 {
		background-image: url(../images/cross.svg);
	}
	&.player2 {
		background-image: url(../images/circle.svg);
	}
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.winner {
  position: absolute;
  z-index: 5;
  height: 50%;
  width: 50%;
  background-color: white;
  border: 3px solid green;
  opacity: 50%;

  .content {
    @include vertical-center;
    text-align: center;
  }
}
